.list {
  position: relative;
  margin-left: 22px;
}

.list::before {
  content: '';
  position: absolute;
  left: calc(-21px);
  width: 6px;
  height: 100%;
  background-color: rgb(198, 198, 198);
}
