.contain {
  margin: 0 auto;
  max-width: 1200px;
}

.ant-card-body {
  box-shadow: 4px 4px 20px -4px rgba(111, 126, 201, 0.25);
  border-radius: 6px;
}

body {
  background-color: #f8fafc !important;
}

.ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background-color: #fff;
  padding: 20px;
}

.ant-tabs-nav {
  margin: 0px;
}

.ant-carousel {
  .slick-next {
    &::before {
      content: '' !important;
    }
  }
  .slick-prev {
    &::before {
      content: '' !important;
    }
  }
}

.mobileHidden {
  display: flex;
  width: fit-content;
}

.mobileVisible {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobileHidden {
    display: none;
  }
  .mobileVisible {
    display: flex;
  }
}

.ant-image {
  height: 100%;
  display: inline-flex !important;
  align-items: center;
}

svg {
  vertical-align: baseline;
}
