.affixContent,
.affixTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: #425061;
  margin-left: 10px;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  position: fixed;
  top: 300px;
  &:hover {
    color: #00c8aa;
    background-color: rgba(66, 80, 97, 0.95);
  }
  p {
    margin: 0px;
    text-align: center;
    line-height: 16px;
  }
}

.affixTemplate {
  top: 400px;
}

.affixTool {
  display: flex;
  width: 480px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: whitesmoke;
  padding: 8px 24px;
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
